<div>
  <br />
  <h4 style="margin: 5px">Address:<br />{{xmr_address}}</h4>
  <br />

  {{#testnet}}
  <h4 style="margin: 5px">Network type: Testnet</h4>
  {{/testnet}} {{#stagenet}}
  <h4 style="margin: 5px">Network type: Stagenet</h4>
  {{/stagenet}} {{^testnet}}{{^stagenet}}
  <h4 style="margin: 5px">Network type: Mainnet</h4>
  {{/stagenet}}{{/testnet}}

  <br />
  <h4 style="margin: 5px">Associated public keys</h4>

  <h4 style="margin: 5px">View key: {{public_viewkey}}</h4>
  <h4 style="margin: 5px">Spend key: {{public_spendkey}}</h4>
  <br />

  {{#is_integrated_addr}}
  <h4 style="margin: 5px">Payment id: {{encrypted_payment_id}}</h4>
  {{/is_integrated_addr}}

  <h4 style="margin: 5px">
    Transactions:<br />
    Sorry, its not possible to find txs associated with normal addresses in Zephyr
  </h4>

  <br />
</div>
<br />
